*.pt
*.ckpt
mace-omat-0-small.model
mace_dummy_dataset.xyz
mace_train.yaml
outputs
extensions
ethanol.data
lammps.in
lammps.out
ethanol-ipi*
RESTART
grompp.mdp
mdout.mdp
run.*
run_prev.cpt
energy.xvg
error.log
\#*\#
ethanol.gro
