docs/src/examples/
docs/src/_static/all-examples-data.js

examples/**/*.json.gz

*build*
*egg-info/

.nox/

__pycache__/
*.pyc
*.ipynb
!examples/lammps-flashmd/lammps-flashmd.ipynb
# Ruff stuff:
.ruff_cache/
