docs/src/examples/
docs/src/_static/all-examples-data.js

examples/**/*.json.gz

*build*
*egg-info/

.nox/

__pycache__/
*.pyc
*.ipynb
# Ruff stuff:
.ruff_cache/

#Instanton stuff
\#*
RESTART
*.checkpoint
*.out
*.pos_*.xyz
*.dat
*.hess*
*RESTART*
*ener
