channels:
  - metatensor
  - conda-forge
dependencies:
  - python=3.12
  - lammps-metatomic=2025.09.10.mta1
  - pip
  - pip:
    - ase
    - pet-mad>=1.2.0,<2.0
    - ipi==3.1.5
    - chemiscope>=1.0
    - matplotlib
    - vesin>=0.4.2,<0.5.0
    - requests
