channels:
  - metatensor
  - conda-forge
dependencies:
  - python=3.13
  - pip
  - plumed-metatomic
  - py-plumed-metatomic
  - lammps-metatomic
  - matplotlib
  - pip:
    - --extra-index-url https://download.pytorch.org/whl/cpu
    - torch
    - ase
    - numpy
    - chemiscope
    - ipi>=3.1.5  
    - metatomic[torch]
    - featomic-torch==0.7.2
variables:
  PIP_EXTRA_INDEX_URL: https://download.pytorch.org/whl/cpu
  PLUMED_KERNEL: $CONDA_PREFIX/lib/libplumedKernel.so
