channels:
  - metatensor
  - conda-forge
dependencies:
  - python=3.13
  - pip
  - plumed-metatomic
  - py-plumed-metatomic
  - lammps-metatomic
  - matplotlib
  - libtorch==2.9.1
  - libmetatomic-torch==0.1.7
  - pip:
    - --extra-index-url https://download.pytorch.org/whl/cpu
    - torch==2.9.1
    - ase
    - numpy
    - chemiscope
    - ipi>=3.1.5
    - metatomic-torch==0.1.7
    - featomic-torch
variables:
  PIP_EXTRA_INDEX_URL: https://download.pytorch.org/whl/cpu
