--extra-index-url https://luthaf.fr/nightly-wheels/
# Sphinx
sphinx
sphinx_rtd_theme
sphinx-gallery
sphinx-toggleprompt
furo

# Jupyter widgets
ipywidgets
jupyter_sphinx

# Scientific libraries
matplotlib
numpy
ase
scipy

# COSMO stack and friends
scikit-learn
skmatter
chemiscope
equisolve @ git+https://github.com/lab-cosmo/equisolve.git@71b3dfd

metatensor
rascaline
